

.nav-btn {
    display: flex;
}

.download-btn {
    margin-left: 950px;
    margin-top: 40px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0%;
    text-align: center;
    height: 50px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.name {
    padding-left: 150px;
    padding-top: 45px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 25px;
    font-weight: 800;

    letter-spacing: 0%;
    text-align: left;
}

.banner {
    margin-top: 36px;
    height: 652px;
    width: 100%;
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;

}

.developer-img {
    padding-top: 26px;
    padding-bottom: 0%;
}

.title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 44px;
    font-weight: 800;
    padding-left: 226px;
    padding-right: 221px;
    letter-spacing: 0%;
    text-align: center;
    width: 998px;
    height: 136px;
    margin-bottom: 0%;
}

.paragraph {
    width: 810px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
    padding-left: 310px;
    padding-right: 280px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.contact-btn {
    border-radius: 8px;

    background: rgb(13, 19, 33);
    width: 220px;
    height: 55px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;

    letter-spacing: 0%;
    text-align: center;
    margin-top: 32px;
    
}
.first-main {
    width: 1140px;
    margin-left: 110px; 
    padding: 80px 95px;

}

.outer-title, .outer-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    text-align: center;
    padding-left: 40px;
}

.outer-title {
    font-size: 32px;
    font-weight: 800;
    margin: 0 47px 0 55px;
}

.outer-description {
    font-size: 13px;
    font-weight: 400;
    width: 852px;
    padding-left: 70px;
}

.inner {
    margin-top: 80px;
    display: flex;
    padding: 0 48px; 
    gap: 110px;
    padding-left: 70px;
}

.box-text {
    width: 477px;
    justify-content: flex-start;
    align-items: flex-start;
}

.inner-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 700;
}

.inner-description {
    width: 468px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.7;
}

.image-dev {
    width: 259.56px;
}

.learn {
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 110px;
    height: 30px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
}


.second-main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-right: 148px;
    gap: 20px;
    padding-left: 60px;
    

}
.media-text {
    flex: 1;
    
    padding: 10px; 
    width: 852px;
height: 113px;
}
.media-title , .third-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;
letter-spacing: 0%;
text-align: center;
padding-left: 110px;
}

.media-description, .third-paragraph{
    width: 852;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 400;
letter-spacing: 0%;
padding-left: 40px;
text-align: center;
opacity: 0.7;

}
.video{
    margin-top: 80px;
}
iframe{
    border-radius: 14px;
}

.third-main{
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-right: 148px;
    margin-top: 180px;
    padding-left: 60px;
}

.third-text-box{
    width: 852px;
height: 113px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.third-paragraph{
    margin-top: 0%;
    margin-bottom: 48px;
}
.skil-box{
    width: 1140px;
    height: 300px;
    margin-top: 48px;
    display: flex;
    gap: 20px;
   
}

.skill-title{
    width: 364px;

padding: 40px;

}

.skill-name{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 18px;
font-weight: 800;
letter-spacing: 0%;
text-align: left;
}

.skill-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 13px;
font-weight: 400;
letter-spacing: 0%;
text-align: left;
}

.link-text a{
    margin-top: 20px;
    color: #0D1321;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 700;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline; 
}
.background-color-1{
    border-radius: 16px;
background: rgba(255, 76, 30, 0.05);

}

.background-color-2{
    border-radius: 16px;

    background: rgba(0, 76, 232, 0.05);
}
.background-color-3{
    border-radius: 16px;

background: rgba(255, 223, 0, 0.05);
}
